<!DOCTYPE html>
<html>
  <head>
    <title>TokenLab : JWTLabs</title>
    <meta name="csrf-param" content="authenticity_token" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">   
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
  </div>
</header>
</div>
<div class='nav-brand'> 
 <img src="jwt_logo.png" width='300px' height='150px'/>
 </div>
 <h3 class="row justify-content-md-center">{{message}}</h3>
    <div class="container">
  <div class="row justify-content-md-center" style="padding-top: 5%;">
    <div class="col-md-6 content">
<div class="container">

</div>
  </body>

</html>
