<!DOCTYPE html>
<html>
  <head>
    <title>TokenLab : JWTLabs</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="JkCnKmSMYpocKVZOHNazkRzAl068bw0e2K6dUQqRT5MxFzxDzCeQM00rFx9cxfZ2lHA4tnT4bg8WtUbz+872NA==" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
<link rel="stylesheet" href="style.css"   
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>
  </div>
</header>
 <img src="jwt_logo.png" alt="jwt"/>
    <div class="container">
  <div class="row justify-content-md-center" style="padding-top: 5%;">
    <div class="col-md-6 content">
<h1>Available Labs</h1>

<ol>
	<li> <a href="authentication/none">None Algorithm [Very Easy]</a></li>
	<li> <a href="authentication/hmac">Exposed Key [Easy]</a></li>
	<li> <a href="authentication/signature">Signature Not Checked [Very Easy]</a></li>
	<li> <a href="authentication/weak">Weak Signature [Medium]</a></li>
	<li> <a href="authentication/kid">Vulnerable Kid [Medium Hard]</a></li>
</ol>
  </body>

</html>
