<!DOCTYPE html>
<html>
  <head>
    <title>TokenLab : JWTLabs</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="JkCnKmSMYpocKVZOHNazkRzAl068bw0e2K6dUQqRT5MxFzxDzCeQM00rFx9cxfZ2lHA4tnT4bg8WtUbz+872NA==" />
    

    <link rel="stylesheet" media="all" href="/assets/application-aae93e1d76e0085303c68e97455cab56dda4375679c6783a02f4ac5df2c0798a.css" data-turbolinks-track="reload" />
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/challenges">Challenges</a></li>
        <li><a href="/users">Users</a></li>
      </ul>
    </nav>
  </div>
</header>
    <div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
<h1>Available Labs</h1>
<ol>
	<li> <a href="authentication/none">None Algorithm [Very Easy]</a></li>
	<li> <a href="authentication/hmac">Exposed Key [Easy]</a></li>
	<li> <a href="authentication/signature">Signature Not Checked [Very Easy]</a></li>
	<li> <a href="authentication/weak">Weak Signature [Medium]</a></li>
	<li> <a href="authentication/kid">Vulnerable Kid [Medium Hard]</a></li>
</ol>

<h1> Labs Walkthrough </h1>
<a href="https://medium.com/@adamc95/json-web-token-lab-guide-c402857fa44c"> Available at my medium blog here </a>
    </div>
</div>

  </body>
</html>
